/* Author: Youxinyu;
 * Blog: AzureYu.com;
 * Enjoy yourself to 
 * use it and share it.
 */

body
{
  font-family: "Lucida Grande","Helvetica Neue","微软雅黑","Arial","Helvetica","sans-serif";
  font-size: 16px;
  line-height: 24pt;
  color: #2c3e50;
  background-color:#E6E6E6;
  width: 100%;
  border-top: solid #4192E3;
  border-width: 4px;
  height: 100%;
}
/* 内文与段落*/
/*  作者:树 */
pre, ul, ol, dl, form, hr, table, blockquote {
  margin-bottom: 1.7em;
}

p {
  margin-top: 0;
  margin-bottom: 1.7em;
  font-size: 17px;
  font-family: "Lucida Grande", "Helvetica Neue", Arial, "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
  line-height: 1.7em;
  text-align: justify;
  text-justify: inter-ideographic;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .7em;
  margin-bottom: .2em;
  font-family: "Lucida Grande", "Helvetica Neue", Arial, "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
  font-weight: 200;
  line-height: 1.5em;
  /*color: #000;*/
  color:#4192E3
}

h1     { font-size: 2em; }
h2     { font-size: 1.8em; }
h3     { font-size: 1.6em; }
h4     { font-size: 1.4em; }
h5, h6 { font-size: 1.2em; }

h2 + h3
h3 + h4 {
  margin-top: 0;
}

h1 a,h2 a,h3 a,h4 a
{
  color:#428fe0
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover
{
  color:#29598c
}

/* 块/段落引用 */
blockquote {
    color: #444;
    border-left: 5px solid #D6DBDF;
    padding-left: 15px;
    font-size: 16px;
    background: rgba(112,138,153,.1);
    /*font-style: italic;*/
}
blockquote:last-child {
    margin-bottom: 0;
}
/*代码*/
pre{
  padding: 0;
  background: none;
}

pre code{
  font-size: 14px;
}

/*右边内容容器*/
.container
{
  width:70%;
  padding-right:0;
  padding-top:52px
}

.container a
{
  border-bottom:1px #8a8a8a dotted;
  text-decoration:none
}


/*右边墙*/
#wrapper
{
  padding-left:230px;
  transition:all .5s ease 0
}
/*导航隐藏*/
.navbar 
{
  display: none;
}
.navbar a 
{
  text-decoration: none;
  border-bottom: 1px #b1b1b1 solid;
}
/*导航墙*/
#sidebar-wrapper
{
  margin-left:-230px;
  left:230px;
  width:230px;
  border-top: solid #4192E3;
  border-width: 4px;
  /*更简洁的显示
  background-color: #fff;
  box-shadow:0 1px 4px #ccc;
  */

  /*有较强阴影的显示*/
  background-color:#FAFAFA;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  
  position:fixed;
  height:100%;
  overflow-y:auto;
  z-index:1000;
  margin-top:-4px;
  transition:all .4s ease 0;
}
/**导航目录样式**/
.sidebar-nav
{
  position:absolute;
  top:0;
  width:230px;
  list-style:none;
  margin:0;
  padding:30px 0 0
}

.sidebar-nav li
{
  line-height:30px;
  text-indent:40px;
  font-family: "Lucida Grande", "Helvetica Neue", Arial, "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
  font-weight:200;
  color:#9c9c9c;
  text-shadow:1px 1px #fff
}

.sidebar-nav li a
{
  color:#6c7077;
  display:block;
  text-decoration:none
}

.sidebar-nav li a:hover
{
  color:#4192E3;
  background:#fff;
  text-decoration:none;
  transition:all .2s ease 0
}

.sidebar-nav li a:active,.sidebar-nav li a:focus
{
  text-decoration:none
}

.sidebar-nav > .sidebar-brand
{
  font-size:20px
}

.sidebar-nav > .sidebar-brand > h3
{
  font-size:15px;
  font-weight:100;
  color:#5d5f67
}
/*博客名*/
.brand
{
  font-weight:800;
  color:#6c7077;
  font-family: "Lucida Grande", "Helvetica Neue", Arial, "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
  font-size:1.4em;
  text-shadow:1px 1px #fff
}

.brand:hover
{
  color:#4192E3;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s
}

.sidebar-nav > .sidebar-brand a
{
  color:#999
}

.sidebar-nav > .sidebar-brand a:hover
{
  color:#fff;
  background:none
}
/*--*/
.nav-toggle {
    display: none;
    color: #d90006;
    padding-left: 10px;
    padding-top: 10px;
  }
/*社交墙*/
#social-wrapper
{
  color:#5c646f;
  padding:10px 0
}

#social-wrapper a
{
  font-size:15px;
  text-indent:20px
}

#social-wrapper li
{
  font-size:15px;
  text-indent:0;
  word-spacing:10px
}

#social-wrapper a:hover
{
  color:#4192E3;
  transition:all .3s ease 0
}
/*封面图
.showcase-wrapper
{
  width:100%;
  height:100%;
  min-height:750px;
  margin-top:-50px;
  box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -moz-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -webkit-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  border-bottom:solid 1px #fff;
  background-size: cover;
  z-index: -22
}

.showcase-text
{
  font-size:2.3em;
  font-family: "Lucida Grande", "Helvetica Neue", Arial, "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
  font-weight:bolder;
  color:#fff;
  text-align:center;
  padding-top:20%
}*/
/*文章列表*/
.container-article
{
  width:70%;
  padding-right:0;
  padding-top:52px
}
/*文章*/
#article
{
  margin-bottom:30px; /*顶部预留*/
  padding:10px 50px;
  /*更简洁的显示
  background-color: #fff;
  box-shadow:0 1px 4px #ccc;
  */
  /*有较强阴影的显示*/
  background-color:#FAFAFA;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset
}

.article-list
{
  font-size:18px;
  /*list-style:none;*/
  font-weight:lighter;
  line-height:200%;
  padding-bottom:30px;
  padding-left:20px

}

.article-title
{
  font-size:33px;
  font-weight:38;
  color:#000000;
  padding-top:15px;
  text-align: center
}
.article-date{
  text-align: center;
  text-shadow:1px 1px #fff;
  color:#b6b6b6;
  padding-top: 10px;
  padding-bottom: 10px
}
.meta
{
  text-shadow:1px 1px #fff;
  color:#b6b6b6
}

.article
{
  padding-bottom:30px /*底部预留*/
}
/*???*/
pre
{
  background:#f5f5f8
}
/*Disqus离文章底部距离*/
#disqus_thread
{
  margin-top:10px
}


/*AboutMe*/
.user-card
{
  max-width:800px;
  background-color:#FAFAFA;
  /*阴影*/
  padding:10px 40px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
}

.user-card h1
{
  text-align:center;
  font-family: "Lucida Grande", "Helvetica Neue", Arial, "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
  font-weight:bolder;
  font-size:2.5em;
  line-height:55px;
  color:#4192E3
}

.user-card p
{
  text-align:center;
  color:#c4c4c4;
  font-size:small
}

.card
{
  margin-left:-40px;
  margin-top:-10px
}

.letter p
{
  font-size:1.2em;
  font-weight:lighter;
  color:#737373;
  text-shadow:1px 1px #fff
}
/*footer*/
.credit
{
  bottom:0;
  width:100%;
  font-size:.8em;
  text-shadow:1px 1px #fff;
  padding-left:20px;
  margin-bottom:0;
  padding-bottom:5px;
  padding-top:5px;
  margin-top:40px;
  z-index:1;
  color:#cdcdcd
}

/*移动设备*/
@media (max-width:767px) {
/*移动设备，使字体更小*/
blockquote { margin: 1em 0; }
blockquote p{font-size: 15px;}
body{
  font-size:15;
}
p {
    text-align: initial;
    text-justify: initial;
    font-size: 15px;
  }

h1     { font-size: 1.6em; }
h2     { font-size: 1.4em; }
h3     { font-size: 1.2em; }
h4     { font-size: 1em; }
h5, h6 { font-size: 1em; }

.container{
    width: 100%;
    margin: 0 0 0 0;
    padding: 5px 5px 0 5px;
}
#wrapper {
  padding-left: 0;
  padding-top: 10px;
}

#sidebar-wrapper {
    border-right: 4px solid #d90006;
    border-top: none;
    left: 0px;
}
 .nav-toggle {
    display: ;
  }
#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.7s ease 0s;
}


.inset {
  padding: 15px;
}
/*导航显示*/
.navbar 
{
  display: inherit;
  background-color: #ededed;
  margin-top: -20px;
}

}

@media screen and (max-width: 500px) {
  /*#welcome-greeting h2 {
   font-size: 15px; 
   transition: all 0.2s ease 0s;
   font-weight: 200;
   line-height: 30px;
  }*/
  /*移动设备，使字体更小*/
  blockquote { margin: 1em 0;}
  blockquote p{font-size: 15px;}
  body{
    font-size:15;
  }
  p {
      text-align: initial;
     text-justify: initial;
      font-size: 15px;
    }

  h1     { font-size: 1.6em; }
  h2     { font-size: 1.4em; }
  h3     { font-size: 1.2em; }
  h4     { font-size: 1em; }
  h5, h6 { font-size: 1em; }
  
  .container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 5px 5px 0px 5px;

  }
  #article {
      padding: 5px 10px 0 10px;
  }

/*.showcase-wrapper {
  width: 100%;
  height: 50%;
  font-size: small;
}*/

}

/*言语*/

.label-danger /*引导标签*/
{
  background-color:#697b7b;
  font-weight:400;
  border-radius:.2em;
  font-size:120%
}

.label-danger:hover
{
  background-color:#2d4440;
  transition:all .4s ease 0
}


.Wisdom
{
  border-left:solid 2px #9e9599
  
}

.Wisdom-button
{
  background-color:#bc0005
}

.Wisdom:hover
{

  border-left:solid 2px #cfe0ea
}

.Wisdom-button:hover
{
  background-color:#cfe0ea
}

.Potery
{
  border-left:solid 2px #7dbcb2
}

.Potery-button
{ background-color:#9e9599

}

.Potery:hover
{
  border-left:solid 2px #bbe9e2
}

.Potery-button:hover
{
  background-color:#bbe9e2
}

.Encourage
{
  border-left:solid 2px #644539
}

.Encourage-button
{
  background-color:#644539
}

.Encourage:hover
{
  border-left:solid 2px #F4A273
}

.Encourage-button:hover
{
  background-color:#F4A273
}