



.content-header
{
  height:65px;
  line-height:65px
}

.content-header h1
{
  line-height:65px;
  display:inline-block;
  margin:0 0 0 20px
}

blockquote
{
  border-left:2px solid #d90006;
  border-right:2px solid #d90006;
  margin-left:-40px;
  margin-right:-40px;
  padding-left:40px;
  background:#f3f3f7
}



.wide
{
  width:100%;
  background-color:#fff;
  margin:0;
  padding:0 10% 30px
}

.credit
{
  bottom:0;
  width:100%;
  font-size:.8em;
  text-shadow:1px 1px #fff;
  padding-left:20px;
  margin-bottom:0;
  padding-bottom:5px;
  padding-top:5px;
  margin-top:40px;
  z-index:1;
  color:#cdcdcd
}

.label-danger
{
  background-color:#697b7b;
  font-weight:400;
  border-radius:.2em;
  font-size:120%
}

.label-danger:hover
{
  background-color:#2d4440;
  transition:all .4s ease 0
}









.user-social
{
  color:#c4c4c4;
  margin-right:20px;
  text-decoration:none
}

.user-social a
{
  color:#c4c4c4;
  text-decoration:none;
  margin-right:20px
}

.blue-outline
{
  border:2px solid #d21c38
}

time
{
  color:#c9c9c9;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:100;
  text-shadow:1px 1px #fff
}

.pager li > a,.pager li > span
{
  border-radius:.5em
}

#self
{
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:10px;
  max-height:200px;
  margin:0;
  padding:10px
}





