---
layout: default
lang: en
ref: index
onlineImg: https://ws2.sinaimg.cn/large/006tKfTcgy1fgv2nj50ryj30rs0iijyr.jpg
image: true
exclude: true
---

{% include core/metabar.html %}

<article class="content">

  <header class="hero">
    <h1 class="hero-title">{{ site.description }}</h1>
    {% include core/share.html %}
    {% if page.image %}
    {% if page.onlineImg %}
        <div class="hero-image" style="background-image: url('{{page.onlineImg}}'); background-image: -webkit-image-set( url('{{page.onlineImg}}') 1x, url('{{page.onlineImg}}') 2x )"></div>
      {% else %}
        <div class="hero-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}-large.jpg') 2x )"></div>
      {% endif %}
      
     <!--  <a href="https://www.douban.com/photos/photo/2464037281/"><div class="hero-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}-large.jpg') 2x )"></div></a> -->
    {% endif %}
  </header>

  <section id="about" class="section">
    <h2 class="section-title">About</h2>
    <article>
      <h3 class="section-header">科技 人文 梦</h3>
      <p class="section-body">科技 人文 梦</p>
      <a class="section-link" href="{{ site.baseurl }}/about">Read More</a>
    </article>
  </section>

  <section id="posts" class="section">
    <h2 class="section-title">Posts</h2>
    <article class="section-writing">
      {% assign posts = site.posts %}
      {% for page in posts limit: 4 %}
        {% for tag in page.tags %}
            {% if tag != 'Wiki' %}
            <!-- <p>{{tag}}</p> -->
             <h3 class="section-header"><a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
             {% include core/date.html %}
             <p class="section-body">{{ page.excerpt | strip_html | truncatewords: 32 }}</p>
            {% endif %}
         {% endfor %}
      {% endfor %}
      <a class="section-link" href="{{ site.baseurl }}/blog">Read More</a>
    </article>
  </section>
</article>

{% include core/footer.html %}
