---
layout: page
titlt: Blog
description: "去创造，去体验"
header-img: "img/bird-sparrow.jpg"
---
<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    
    <h2>关于我</h2>
    <p>Hi~!我是游薪渝，坐标重庆。目前，在<a target="_blank" href="http://www.cqu.edu.cn">重庆大学</a>主修软件工程(Software engineering)。</p>
    <p>喜爱<a href="{{ site.baseurl }}/hum/2014/12/01/CreateExperience/">科技和文学</a>。科技，让我有创造的能力；而文学，让我体验不同人生。</p>
    <!-- <blockquote>
     <p><strong><a href="{{ site.baseurl }}">在线简历 Online CV</a></strong></p>
    </blockquote> -->
    <h2>最近在做的事</h2>
    <hr>
    <ol>
        <li><a href="{{site.baseurl}}/tech/2015/10/21/MajorStudyPlan/">学习计算机基础课程</a></li>
        <li><a href="{{ site.baseurl}}/books">阅读各类主题的书籍</a></li>
        <li>关注 <a href="{{ site.baseurl }}/tags/#iOS">iOS</a>和<a href="{{ site.baseurl }}/tags/#Web">Web</a>开发</li>
        <li><a href = "https://github.com/Yogayu/iOSYoga">整理iOS开发中的学习记录</a></a></li>
        <li>玩吉他</li>
        <li>写作</li>
    </ol>
    <p>想知道本博客如何搭建，可参考<a href="{{ site.baseurl }}/tech/2015/08/15/HowToBulidBlog//">文章</a>。</p>

    <h2>最近文章</h2>
</div>
<!-- English Version -->
<div class="en">
    <br>
    <h2>Me in 10 seconds</h2>
    <p>My name is You xinyu, my english name is Azure. I am a student major in software enginnering at <a href="http://www.cqu.edu.cn">Chongqing University</a>.</p>
    <p>I love <a href="{{ site.baseurl }}/hum/2014/12/01/CreateExperience/">techology and literature</a>. Techology give me the power of creating and Literature give me different life experience.</p>
        <h2>What I’m doing now</h2>
    <ol>
        <li><a href="{{ site.baseurl }}/tech/2015/10/21/MajorStudyPlan/">Learning computer science.</a></li>
        <li><a href="{{ site.baseurl}}/books">Reading all kinds of books.</a></li>
        <li>Focuse on the <a href="{{ site.baseurl }}/tags/#iOS">iOS </a>and <a href="{{ site.baseurl }}/tags/#Web">Web</a> developing.</li>
        <li><a href="https://github.com/Yogayu/iOSYoga">Classify waht I have recorded while learning iOS.</a></a></li>
        <li>Playing guitar.</li>
        <li>Writing.</li>
    </ol>
    <p>If you are inerested in how this blog is build, you may read this <a href="{{ site.baseurl }}/tech/2015/08/15/HoToBulidBlog">articel</a>.</p>

    <h2>Recent Posts</h2>
</div>
<hr>
{% for post in paginator.posts limit: 5 %}
<div>
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h4 class="post-title">
            {{ post.title }} 
        </h4>
    </a>
      {{ post.date | date: "%B %-d, %Y" }}
</div>
<hr>
{% endfor %}
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">

    <li class="previous">
        <a href="{{ site.baseurl}}/blog">浏览更多...</a>
    </li>
   
</ul>
{% endif %}

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>
