---
layout: default
lang: en
ref: index
onlineImg: https://ws2.sinaimg.cn/large/006tKfTcgy1fgv2nj50ryj30rs0iijyr.jpg
image: true
exclude: true
---

{% include core/metabar.html %}

<article class="content">

  <section id="posts" class="section">
    <h2 class="section-title">Posts</h2>
    <article class="section-writing">
      {% assign posts = site.posts %}
      {% for page in posts limit: 4 %}
        {% for tag in page.tags %}
            {% if tag != 'Wiki' %}
            <!-- <p>{{tag}}</p> -->
             <h3 class="section-header"><a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
             {% include core/date.html %}
             <p class="section-body">{{ page.excerpt | strip_html | truncatewords: 32 }}</p>
            {% endif %}
         {% endfor %}
      {% endfor %}
      <a class="section-link" href="{{ site.baseurl }}/blog">Read More</a>
    </article>
  </section>

  <section id="posts" class="section">
    <h2 class="section-title">Wiki</h2>
    <article class="section-writing">
      {% assign recipes = site.recipes %}
      {% for page in recipes reversed limit:2 %}
             <h3 class="section-header"><a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
             {% include core/date.html %}
             <p class="section-body">{{ page.excerpt | strip_html | truncatewords: 32 }}</p>
      {% endfor %}
      <a class="section-link" href="{{ site.baseurl }}/wiki">Read More</a>
    </article>
  </section>

</article>

{% include core/footer.html %}
