---
layout: page
title: "Books"
description: "学而不思则罔，思而不学则殆"
header-img: "img/life-bg-0.jpg"
--- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    
<!-- 标签云 -->
<div id='tag_cloud' class="tags">
    <a href="#文学" title="文学" rel="10">文学</a>
    <a href="#社科" title="社科" rel="9">社科</a>
    <a href="#科技" title="科技" rel="8">科技</a>
    <a href="#English" title="English" rel="7">English</a>
    <a href="#杂志" title="杂志" rel="6">杂志</a>
</div>

<h1>读书笔记</h1></header>
<div class="main"><ol>
<h2 id='文学'>文学</h2>
<p>页面内容正在完善中：。）</p>
<br>
<li><a href="html/三毛全集 (三毛).html">三毛全集 (三毛)</a></li>
<!-- <li><a href="html/人间词话 (王国维).html">人间词话 (王国维)</a></li> -->
<!-- <li><a href="html/古文观止 (吴楚材；吴调侯).html">古文观止 (吴楚材；吴调侯)</a></li> -->
<li><a href="html/史记(1) (司马迁).html">史记(1) (司马迁)</a></li>
<!-- <li><a href="html/唐诗三百首·宋词三百首·元曲三百首 (蘅塘退士).html">唐诗三百首·宋词三百首·元曲三百首 (蘅塘退士)</a></li> -->
<li><a href="html/小王子 (插图版) ([法] 圣德克旭贝里).html">小王子 (插图版) ([法] 圣德克旭贝里)</a></li>
<li><a href="html/战国策 (历代人物).html">战国策 (历代人物)</a></li>
<li><a href="html/菜根谭 (洪应明).html">菜根谭 (洪应明)</a></li>

<hr>

<li><a href="html/谈修养 (朱光潜作品系列) (朱光潜).html">谈修养(朱光潜)</a></li>
<li><a href="html/谈文学-6328 (1015701481@qq.com).html">谈文学(朱光潜)</a></li>
<li><a href="html/谈美 (朱光潜).html">谈美 (朱光潜)</a></li>
<li><a href="html/给青年的十二封信 (Unknown).html">给青年的十二封信 (朱光潜)</a></li>
<li><a href="html/朱光潜谈读书-a7c2 (1015701481@qq.com).html">谈读书(朱光潜)</a></li>
<li><a href="html/介绍我自己的思想 (胡适).html">介绍我自己的思想 (胡适)</a></li>
<hr>

<li><a href="html/目送 (龙应台).html">目送 (龙应台)</a></li>
<!-- <li><a href="html/野火集 (Unknown).html">野火集 (龙应台)</a></li> -->
<li><a href="html/野火集 (未知).html">野火集 (龙应台)</a></li>
<li><a href="html/孩子你慢慢来 (龙应台).html">孩子你慢慢来 (龙应台)</a></li>
<li><a href="html/亲爱的安德烈 (龙应台).html">亲爱的安德烈 (龙应台)</a></li>
<hr>

<li><a href="html/傅雷家书 (傅雷).html">傅雷家书 (傅雷)</a></li>
<!-- <li><a href="html/毕淑敏文集 (毕淑敏).html">毕淑敏文集 (毕淑敏)</a></li> -->
<li><a href="html/活着活着就老了 (冯唐).html">活着活着就老了 (冯唐)</a></li>
<hr>

<li><a href="html/身边的江湖 (郑世平).html">身边的江湖 (郑世平)</a></li>
<!-- <li><a href="html/辩论通论.html">辩论通论</a></li> -->
<li><a href="html/追风筝的人 (胡赛尼).html">追风筝的人 (胡赛尼)</a></li>
<li><a href="html/送你一颗子弹 (刘瑜).html">送你一颗子弹 (刘瑜)</a></li>
<li><a href="html/从你的全世界路过 (张嘉佳).html">从你的全世界路过 (张嘉佳)</a></li>
<!-- <li><a href="html/郁达夫小说全集（1） (郁达夫).html">郁达夫小说全集（1）(郁达夫)</a></li> -->
<hr>
<li><a href="html/红楼梦 (古典名著普及文库) (曹雪芹).html">红楼梦(曹雪芹)</a></li>
<li><a href="html/红楼梦评论 (博库丛刊) (王国维).html">红楼梦评论 (博库丛刊) (王国维)</a></li>
<li><a href="html/约翰·克里斯朵夫.html">约翰·克里斯朵夫</a></li>
<li><a href="html/苏菲的世界 (Jostein Gaarder).html">苏菲的世界 (Jostein Gaarder)</a></li>
<li><a href="html/淘气包埃米尔-d6e5.html">淘气包埃米尔</a></li>
<li><a href="html/解忧杂货店 (东野圭吾).html">解忧杂货店 (东野圭吾)</a></li>
<hr>

<!-- <li><a href="html/Of Human Bondage (免费公版书) (Maugham,W. Somerset (William Somerset)).html">Of Human Bondage (Maugham,W. Somerset (William Somerset))</a></li> -->
<li><a href="html/The kite runner (Khaled Hosseini).html">The kite runner (Khaled Hosseini)</a></li>

<h2 id="社科">社科</h2>

<li><a href="html/如何阅读一本书-2343.html">如何阅读一本书</a></li>
<li><a href="html/How to Speak and Write Correctly (免费公版书) (Devlin,Joseph).html">How to Speak and Write Correctly (Devlin,Joseph)</a></li>
<li><a href="html/How to Study and Teaching How to Study (免费公版书) (McMurry,Frank M. (Frank Morton)).html">How to Study and Teaching How to Study (McMurry,Frank M. (Frank Morton))</a></li>
<li><a href="html/演讲的艺术(第8版) (史迪芬·卢卡斯).html">演讲的艺术(第8版) (史迪芬·卢卡斯)</a></li>
<li><a href="html/蔡康永的说话之道 (蔡康永).html">蔡康永的说话之道 (蔡康永)</a></li>
<li><a href="html/The Element： How Finding Your Passion Changes Everything (Ken Robinson;Lou Aronica).html">The Element： How Finding Your Passion Changes Everything (Ken Robinson;Lou Aronica)</a></li>
<li><a href="html/成为作家（创意写作书系） (多萝西娅·布兰德(Dorothea Brande)).html">成为作家（创意写作书系） (多萝西娅·布兰德(Dorothea Brande))</a></li>
<li><a href="html/把你的英语用起来 (伍君仪;刘晓光).html">把你的英语用起来 (伍君仪;刘晓光)</a></li>
<li><a href="html/爱上跑步的13周 (伊恩·麦克尼尔;加拿大不列颠哥伦比亚运动医学理事会).html">爱上跑步的13周 (伊恩·麦克尼尔)</a></li>
<hr>


<li><a href="html/教育的目的 (A.N.怀特海).html">教育的目的 (A.N.怀特海)</a></li>
<!-- <li><a href="html/乌合之众：大众心理研究 (社会学经典名著) (古斯塔夫·勒宠).html">乌合之众：大众心理研究 (社会学经典名著) (古斯塔夫·勒宠)</a></li> -->
<li><a href="html/What I Wish I Knew When I Was 20 (Seelig, Tina).html">What I Wish I Knew When I Was 20 (Seelig, Tina)</a></li>
<hr>
<li><a href="html/牛津通识读本：大众经济学（中文版） (帕萨•达斯古普塔).html">牛津通识读本：大众经济学（中文版） (帕萨•达斯古普塔)</a></li>
<li><a href="html/牛津通识读本：生活中的心理学(中文版) (吉莉恩•巴特勒;弗雷达•麦克马纳斯).html">牛津通识读本：生活中的心理学(中文版) (吉莉恩•巴特勒;弗雷达•麦克马纳斯)</a></li>
<li><a href="html/牛津通识读本：缤纷的语言学（中文版） (P.H.马修斯).html">牛津通识读本：缤纷的语言学（中文版） (P.H.马修斯)</a></li>
<li><a href="html/牛津通识读本：选择理论（中文版） (迈克尔•阿林厄姆).html">牛津通识读本：选择理论（中文版） (迈克尔•阿林厄姆)</a></li>
<!-- <li><a href="html/人生的意义-牛津通识读本 ([英国] 特里·伊格尔顿).html">人生的意义-牛津通识读本 ([英国] 特里·伊格尔顿)</a></li> -->
<hr>

<li><a href="html/黑客与画家 (保罗·格雷厄姆).html">黑客与画家 (保罗·格雷厄姆)</a></li>
<!-- <li><a href="html/The Information (James Gleick).html">The Information (James Gleick)</a></li> -->
<li><a href="html/失控：机器、社会与经济的新生物学 (凯文·凯利).html">失控：机器、社会与经济的新生物学 (凯文·凯利)</a></li>
<!-- <li><a href="html/时间管理（蓝狮子经理人002） (杭州蓝狮子文化创意有限公司).html">时间管理（蓝狮子经理人002</a></li> -->
<!-- <li><a href="html/影响力 (罗伯恃西奥迪尼).html">影响力 (罗伯恃西奥迪尼)</a></li> -->
<li><a href="html/程序员的思维修炼：开发认知潜能的九堂课 (图灵程序设计丛书) (亨特(Andy Hunt)).html">程序员的思维修炼：开发认知潜能的九堂课 (图灵程序设计丛书) (Andy Hunt)</a></li>
<li><a href="html/创业维艰 (奇点系列) (本·霍洛维茨).html">创业维艰 (奇点系列) (本·霍洛维茨)</a></li>
<li><a href="html/Zero to One： Notes on Startups, or How to Build the Future (Peter Thiel;Blake Masters).html">Zero to One (Peter Thiel;Blake Masters)</a></li>
<li><a href="html/从0到1：开启商业与未来的秘密 (彼得·蒂尔;布莱克·马斯特斯).html">从0到1 (彼得·蒂尔;布莱克·马斯特斯)</a></li>
<li><a href="html/人月神话(二十周年纪念版) (弗雷德里克·布鲁克斯).html">人月神话(二十周年纪念版) (弗雷德里克·布鲁克斯)</a></li>
<li><a href="html/大数据时代：生活,工作与思维的大变革 (湛庐文化•财富汇) (维克托•迈尔-舍恩伯格;肯尼思•库克耶).html">大数据时代：生活,工作与思维的大变革(维克托•迈尔-舍恩伯格;肯尼思•库克耶)</a></li>


<h2 id='科技'>科技</h2>

<li><a href="html/算法精解：C语言描述 ((美)Kyle Loudon).html">算法精解：C语言描述 ((美)Kyle Loudon)</a></li>
<li><a href="html/CSS设计指南（第3版） (图灵程序设计丛书) ([英]Charles Wyke-Smith).html">CSS设计指南（第3版） (图灵程序设计丛书) ([英]Charles Wyke-Smith)</a></li>
<li><a href="html/JavaScript权威指南（原书第6版） ((美)David Flanagan).html">JavaScript权威指南（原书第6版） ((美)David Flanagan)</a></li>
<!-- <li><a href="html/Producter (周楷雯 (kevinzhow)).html">Producter (周楷雯 (kevinzhow))</a></li> -->
<li><a href="html/Structure and Interpretation of Computer Programs (Abelson;Sussman).html">Structure and Interpretation of Computer Programs (Abelson;Sussman)</a></li>
<li><a href="html/設計是什麼 (麥可・克魯格).html">設計是什麼 (麥可・克魯格)</a></li>
<li><a href="html/设计心理学 ([美]唐纳德•A•诺曼).html">设计心理学 ([美]唐纳德•A•诺曼)</a></li>

<h2 id='English'>English</h2>

<!-- <li><a href="html/Merriam-Webster's Vocabulary Builder (Merriam-Webster).html">Merriam-Webster's Vocabulary Builder (Merriam-Webster)</a></li> -->
<li><a href="html/Word Power Made Easy - The Complete Three-Week Vocabulary Builder (Lewis, Norman).html">Word Power Made Easy - The Complete Three-Week Vocabulary Builder (Lewis, Norman)</a></li>
<li><a href="html/赖世雄美语音标 (赖世雄).html">赖世雄美语音标 (赖世雄)</a></li>
<!-- <li><a href="html/英语词根与单词的说文解字（修订版） (李平武).html">英语词根与单词的说文解字（修订版） (李平武)</a></li> -->
<li><a href="html/生而为赢·新东方英语背诵美文30篇 (俞敏洪).html">生而为赢·新东方英语背诵美文30篇 (俞敏洪)</a></li>

<h2 id='杂志'>杂志</h2>
<li><a href="html/知乎周刊·2014 年度 300 问（第六辑）：社会七分熟 (知乎).html">知乎周刊·2014 年度 300 问（第六辑）：社会七分熟 (知乎)</a></li>
<li><a href="html/知乎周刊·冬夜读诗（总第 063 期） (知乎).html">知乎周刊·冬夜读诗（总第 063 期） (知乎)</a></li>
<li><a href="html/知乎周刊·真的睡不着啊！（总第050期） (知乎).html">知乎周刊·真的睡不着啊！（总第050期） (知乎)</a></li>
<li><a href="html/知乎周刊·读万里书（总第054期） (知乎).html">知乎周刊·读万里书（总第054期） (知乎)</a></li>
<li><a href="html/知乎周刊·读书这件小事 (知乎).html">知乎周刊·读书这件小事 (知乎)</a></li>
<li><a href="html/知乎周刊·远方的旅行家（总第 052 期） (知乎).html">知乎周刊·远方的旅行家（总第 052 期） (知乎)</a></li>
<li><a href="html/知乎周刊·黑科技（总第058期） (知乎).html">知乎周刊·黑科技（总第058期） (知乎)</a></li>
<li><a href="html/简书周刊045·朋友这些事 (简书).html">简书周刊045·朋友这些事 (简书)</a></li>
<li><a href="html/大数据可视化实操指南（案例第15辑） (蓝狮子（中国）企业研究院).html">大数据可视化实操指南（案例第15辑） (蓝狮子（中国）企业研究院)</a></li>
</ol>
</div>
<!-- 

{% for post in site.categories.hum %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %} -->

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

</body>
</html>
