    <!-- jQuery -->
    <script src="{{ site.baseurl }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ site.baseurl }}/js/clean-blog.min.js"></script>
    <!--代码高亮-->
	<link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/highlight.js/8.4/styles/monokai_sublime.min.css">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/highlight.js/8.4/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>